body {
    margin:0;
}

.grid-container {
    display: grid;
    grid-template-rows: 40px 70px 70px 70px 30px 30px;
    grid-template-columns: 1.3fr repeat(14, 1fr);
    justify-content: center;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule-header p {
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}

.schedule-header {
    background-color: lightslategray;
    color: ivory;
    text-align: center;
}

.lecture {
    border-color: #FF4444;
    font-family: 'Poppins', sans-serif;
}

.lecture-highlighted {
    background-color: rgba(255, 127, 80, 0.7);
}

.lecture-regular {
    background-color: rgba(255, 127, 80, 0.3);
}

.excercise-highlighted {
    background-color: rgba(100, 148, 237, 0.7);
}

.excercise-regular {
    background-color: rgba(100, 148, 237, 0.3);
}

.excercise {
    border-color: #4444FF;
    font-family: 'Poppins', sans-serif;
}

.excercise, .lecture {
    display: flex;
    overflow: hidden;
}

.lecture div {
    flex: 80%;
    display: flex;
    flex-direction: column;
}

.excercise div {
    flex: 20%;
    display: flex;
    flex-direction: column;
}

.left, .right {
    height: 100%;
    font-size: 10pt;
}

.left .name {
    margin-top: 5px;
    margin-bottom: auto;
}

.left .teacher-room {
    margin-top: auto;
    margin-bottom: 5px;
}

.left * {
    margin-right: 0;
    text-align: left;
    margin-left: 5px;
}

.right * {
    text-align: right;
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
}

.group {
    margin-bottom: 5px;
    margin-top: auto;
}

.search-button {
    margin-top: 5px;
    margin-bottom: auto;
}

#needle {
    position: absolute;
    display: none;
    height: 70px;
    width: 5px;
    left: 50px;
    top: 30px;
    background-color: red;
}

.control-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.control {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#time-p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.button {
    border: 1px solid gray;
    padding: 10px;
}

.button-active {
    border: 1px solid lightgray;
    background-color: white;
    color: lightgray;
}